<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.springboard.mappers.ReplyMapper">

  <sql id="search">
    <if test="(types != null and keyword != null)">
      <foreach collection="types" item="type" open=" and ( " separator="OR" close=")">
        <choose>
          <when test='type.equals("T")'>
            title like concat('%',#{keyword},'%')
          </when>
          <when test='type.equals("C")'>
            content like concat('%',#{keyword},'%')
          </when>
          <when test='type.equals("W")'>
            writer like concat('%',#{keyword},'%')
          </when>
        </choose>
      </foreach>
    </if>
  </sql>

  <insert id="insert">
    <selectKey order="AFTER" keyProperty="rno" resultType="long">
      SELECT LAST_INSERT_ID()
    </selectKey>

    insert into reply (bno, replyText, replyer)
    values(#{bno}, #{replyText}, #{replyer})
  </insert>

  <select id="selectOne" resultType="ReplyVO">
    select * from reply where rno = #{rno}
  </select>

  <update id="updateOne">
    update reply
    set replyText = #{replyText}, updateDate = now()
    where rno = #{rno}
  </update>

  <delete id="deleteOne">
    delete from reply
    where rno = #{rno}
  </delete>

  <select id="getReplyList" resultType="ReplyVO">
    select * from reply
    where bno = #{bno} and rno > 0
    <include refid="search"/>
    limit #{cri.skip}, #{cri.amount}
  </select>

  <select id="getTotal" resultType="int">
    select count(rno)
    from
    reply
    where rno > 0
    <include refid="search"/>
  </select>

</mapper>
