<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <!--콘솔-->
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

    <Loggers>
        <!-- MyBatis SQL 실행 로그 -->
        <Logger name="org.apache.ibatis.executor.statement" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Logger name="org.apache.ibatis.executor" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <!-- 기존 로거들 유지 -->
        <Logger name="org.apache.ibatis" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Logger name="org.mybatis" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Logger name="org.apache.ibatis.logging" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Logger name="org.apache.ibatis.logging.jdbc" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>


        <Root level="debug">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>