<?xml version="1.0" encoding="UTF-8" ?>
<!-- DTD 규격을 맞춰줘야 태그들을 사용할 수 있다. 문서 스키마 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.boardservice.mappers.BoardMapper">

  <!--  받고자하는 데이터 지정-->
  <resultMap id="BoardResultMap" type="com.ssg.boardservice.domain.BoardVO">
    <id property="bno"    column="bno"/>
    <result property="title"   column="title"/>
    <result property="content"   column="content"/>
    <result property="writer"  column="writer" />
    <result property="password"  column="password" />
    <result property="filePath"  column="file_path" />
    <result property="originalFileName"  column="original_file_name" />
    <result property="createdDate"  column="created_date" />
    <result property="updatedDate"  column="updated_date" />
    <result property="hits"  column="hits" />
  </resultMap>

  <sql id="search">
    <if test="(types != null and keyword != null)">
      <foreach collection="types" item="type" open=" and ( " separator="OR" close=")">
        <choose>
          <when test='type.equals("T")'>
            title like concat('%',#{keyword},'%')
          </when>
          <when test='type.equals("C")'>
            content like concat('%',#{keyword},'%')
          </when>
          <when test='type.equals("W")'>
            writer like concat('%',#{keyword},'%')
          </when>
        </choose>
      </foreach>
    </if>
  </sql>


  <select id="getPage" resultType="BoardVO">
    select * from
    board
    where bno > 0
    <include refid="search"/>
    order by bno desc
    limit #{skip}, #{amount}
  </select>

  <select id="getTotal" resultType="int">
    select count(bno)
    from
    board
    where bno > 0
    <include refid="search"/>
  </select>


  <insert id="insert" parameterType="com.ssg.boardservice.domain.BoardVO"
    useGeneratedKeys="true" keyProperty="bno"> INSERT INTO board (title, content, writer, password, file_path, original_file_name)
    VALUES (#{title}, #{content}, #{writer}, #{password}, #{filePath}, #{originalFileName})
  </insert>

  <select id="getList" resultMap="BoardResultMap">
    SELECT * FROM board ORDER BY bno DESC
  </select>

  <select id="findById" parameterType="long" resultMap="BoardResultMap">
    SELECT * FROM board WHERE bno = #{bno}
  </select>

  <delete id="delete">
    delete from board where bno = #{bno}
  </delete>

  <update id="update">
    update board set title = #{title} , content= #{content},
    file_path = #{filePath}, original_file_name = #{originalFileName} where bno = #{bno}
  </update>

  <update id="increaseHits" parameterType="long">
    UPDATE board SET hits = hits + 1 WHERE bno = #{bno}
  </update>






</mapper>